.header {
    height: 100px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid green;
}

.header .right h1 {
    text-shadow: 0 0 10px rgb(91, 229, 229);
    padding-right: 100px;
}

.header .left {
    padding-left: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .left .info {
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
}

.header .left .id {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.header .left .job {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

#name {
    color: rgb(90, 90, 234);
}

.main {
    height: 650px;
}

.error {
    position: relative;
}

.error h3 {
    position: absolute;
    left: -1400px;
    color: rgb(177, 5, 5);
}

.main .title {
    float: right;
    height: 650px;
    width: 5%;
    display: flex;
    justify-content: left;
    align-items: right;
}

.main .title .text {
    transform: rotate(90deg);
    height: 75px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(168, 232, 255, 0.342);
}

.main .title .text h3 {
    color: #676363;
}

.main .dashboard {
    height: 650px;
    background-color: white;
    width: 10%;
    float: right;
    margin-right: 1px;
    border: 1px solid #a8a8a8;
}

/* main div1 personal */

.main .dashboard .personal {
    background-color: rgba(187, 238, 255, 0.685);
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.main .dashboard .personal:hover {
    background-color: rgb(11, 185, 243);
    transition: 0.3s;
    box-shadow: 0 0 3px rgb(163, 92, 163);
}

/* main div2 master */

.main .dashboard .defmaster {
    background-color: rgba(187, 238, 255, 0.685);
    height: 50px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.main .dashboard .defmaster h5 {
    cursor: pointer;
    padding: 18px 55px;
    border-radius: 5px;
}

.main .dashboard .defmaster .defmasterkesho {
    height: 225px;
    position: absolute;
    top: -5px;
    right: 160px;
    visibility: hidden;
    width: 151px;
    border-radius: 5px;
}

.main .dashboard .defmaster h5:hover {
    background-color: rgb(11, 185, 243);
    transition: 0.3s;
    box-shadow: 0 0 3px rgb(163, 92, 163);
}

.main .dashboard .defmaster .defmasterkesho #master_zirmenu {
    padding: 2px 4px;
    background-color: rgba(187, 238, 255, 0.4);
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.1s;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.main .dashboard .defmaster .defmasterkesho #master_zirmenu:hover {
    cursor: pointer;
    background-color: rgba(11, 185, 243, 0.813);
    transition: 0.3s;
}

/* main div3 student */

.main .dashboard .defstudent {
    background-color: rgba(187, 238, 255, 0.685);
    height: 50px;
    margin-top: 5px;
    transition: 0.6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.main .dashboard .defstudent:hover {
    background-color: rgb(11, 185, 243);
    transition: 0.3s;
    box-shadow: 0 0 3px rgb(163, 92, 163);
}

.main .dashboard .defstudent .defstudentkesho {
    height: 225px;
    position: absolute;
    top: -5px;
    right: 160px;
    transition: 0.1s;
    visibility: hidden;
    width: 151px;
    border-radius: 5px;
}

.main .dashboard .defstudent .defstudentkesho #student_zirmenu {
    padding: 2px 4px;
    background-color: rgba(187, 238, 255, 0.4);
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.1s;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.main .dashboard .defstudent .defstudentkesho #student_zirmenu:hover {
    cursor: pointer;
    background-color: rgba(11, 185, 243, 0.813);
    transition: 0.3s;
}

/* main div4 class */
.main .dashboard .defclass {
    background-color: rgba(187, 238, 255, 0.685);
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.main .dashboard .defclass:hover {
    background-color: rgb(11, 185, 243);
    transition: 0.3s;
    box-shadow: 0 0 3px rgb(163, 92, 163);
}

.main .dashboard .defclass .defclasskesho {
    height: 225px;
    position: absolute;
    top: -5px;
    right: 160px;
    transition: 0.1s;
    width: 151px;
    border-radius: 5px;
    visibility: hidden;
}

.main .dashboard .defclass .defclasskesho #class_zirmenu {
    padding: 2px 4px;
    background-color: rgba(187, 238, 255, 0.4);
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.1s;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.main .dashboard .defclass .defclasskesho #class_zirmenu:hover {
    cursor: pointer;
    background-color: rgba(11, 185, 243, 0.813);
    transition: 0.3s;
}

/* content main div1 */

.main .content-dashboard #show-personal {
    float: left;
    height: 650px;
    width: 84.9%;
    visibility: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content-dashboard #show-personal .btn_personal {
    position: absolute;
    margin-top: -627px;
    margin-right: -1258px;
    cursor: pointer;
}

.main .content-dashboard #show-personal .info {
    height: 600px;
    background-color: pink;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 500px;
    border: 1px solid #a8a8a8;
    padding-right: 25px;
}

.main .content-dashboard #show-personal .setdisplay {
    display: flex;
}

/* content main div2 */

.main .content-dashboard .content-teacher {
    position: relative;
}

.main .content-dashboard .content-teacher .show_teacher {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-teacher .show_teacher button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-teacher .show_teacher .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-teacher .show_teacher form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-teacher .show_teacher form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-teacher .show_teacher form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

.main .content-dashboard .content-teacher .define_teacher {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-teacher .define_teacher button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-teacher .define_teacher .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-teacher .define_teacher .form:first-child {
    margin-top: 30px;
}

.main .content-dashboard .content-teacher .define_teacher form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-teacher .define_teacher form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-teacher .define_teacher form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

.main .content-dashboard .content-teacher .del_teacher {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-teacher .del_teacher button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-teacher .del_teacher .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-teacher .del_teacher form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-teacher .del_teacher form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-teacher .del_teacher form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

/* content main div3 */

.main .content-dashboard .content-student {
    position: relative;
}

.main .content-dashboard .content-student .show_student {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-student .show_student button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-student .show_student .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-student .show_student form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-student .show_student form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-student .show_student form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

.main .content-dashboard .content-student .define_student {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-student .define_student button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-student .define_student .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-student .define_student .form:first-child {
    margin-top: 0px;
}

.main .content-dashboard .content-student .define_student form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 24px;
    width: 300px;
}

.main .content-dashboard .content-student .define_student form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-student .define_student form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

.main .content-dashboard .content-student .del_student {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-student .del_student button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-student .del_student .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-student .del_student form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-student .del_student form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-student .del_student form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

/* content main div4 */

.main .content-dashboard .content-class {
    position: relative;
}

.main .content-dashboard .content-class .show_class {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-class .show_class button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-class .show_class .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-class .show_class form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-class .show_class form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-class .show_class form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

.main .content-dashboard .content-class .define_class {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-class .define_class button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-class .define_class .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-class .define_class .form:first-child {
    margin-top: 25px;
}

.main .content-dashboard .content-class .define_class form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 24px;
    width: 300px;
    margin-bottom: 10px;
}

.main .content-dashboard .content-class .define_class form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-class .define_class form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}

.main .content-dashboard .content-class .del_class {
    position: absolute;
    height: 600px;
    width: 500px;
    right: 600px;
    top: 25px;
    visibility: hidden;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(131, 247, 113, 0.715);
}

.main .content-dashboard .content-class .del_class button {
    position: absolute;
    margin-top: -27px;
    margin-right: -370px;
    cursor: pointer;
}

.main .content-dashboard .content-class .del_class .form {
    display: flex;
    justify-content: center;
}

.main .content-dashboard .content-class .del_class form input {
    padding: 10px 10px;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    border: 3px groove rgba(163, 163, 239, 0.817);
    margin-top: 30px;
    width: 300px;
}

.main .content-dashboard .content-class .del_class form #submit {
    background-color: rgb(18, 226, 18);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.main .content-dashboard .content-class .del_class form #submit:hover {
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 15px rgba(163, 163, 239, 0.817);
}